

.exp-grid {
  display: grid ;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 200px 400px 100px;
  background-color: #5e8a6d;
}

.exp-section1 {
  flex: 100%;
  background-color: #248569;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.exp-section2 {
  display: flex;
  background-color: #6fffd6;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.exp-section3 {
  /* display: flex; */
  background-color: #c4ffee;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.grid-section1{
  display: grid ;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 200px ;
  background-color: #c0e4cc;
}

.input-field{
  /* font-size: x-large; */
  padding: 2px;
}

.input-submitbutton{
  height: 20px;
  width: 100px;
  font-size: medium;
  cursor: pointer;
  background-color: #68ffeb;
  border: none;
  /* padding: 15px 32px; */
}


.table {
  table-layout: auto;
  width: 100%;
}




/* nawin */

.content-wrapper{
  padding-bottom: 2em;
  height: 100%;
  background: #F2F8FF;
  padding-top: 2em;
}


.wrapper-t{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.left-content-expense{
  flex-grow: 0;
  padding-right:1em;
}

.right-content-expense{
  flex-grow: 8;
}

.summary-chart{
  width:200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.box-daily-expense{
  width: 100%;
  background: white;
  height: auto;
  border-radius: 0.5em;
  box-shadow: 0 -1px 23px 14px rgba(0, 0, 0, 0.05);
}

.box-daily-expense{
  padding: 1em;
  font-family: 'Nunito', sans-serif;
}


.header-daily-expense{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  padding-bottom: 1em;
}
.label{
  font-size: 1.2em;
  font-weight: 600;
}

.expense-list-wrapper{
  margin-top: 1.2em;
}
.expense-list-item{
  width: 100%;
  margin:1em 0em;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.icon-withdraw{
  display: flex;
  flex-basis: 50px;
  justify-content :center;
  color:#D75555;
}
.icon-deposit{
  flex-basis: 50px;
  display: flex;
  justify-content :center;
  color:#4A90E2;
}

.expense-description{
  flex-grow: 3;
}

.add-expense-btn{
  border:none;
  background:#FB9190;
  text-align: center;
  color:white;
  border-radius: 50px;
  padding:5px 10px;
}

.expense-description h6{
  font-size: 1.14em;
  font-weight: 600;
}

.expense-description p{
  font-size: 0.8em;
  color: rgba(39, 39, 39, 0.767);
}

.chart-wrapper{
  background: white;
  box-shadow: 0 -1px 23px 14px rgba(0, 0, 0, 0.05);
  height: auto;
  border-radius: 0.5em;
  margin-top:1em;
  padding: 1em;
  font-family: 'Nunito', sans-serif;
  font-size: 1.14em;
  font-weight: 600;
  text-align: center;
}

.nofrom-add-expense{
  display: none;
}

.topic-chart{
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  padding-bottom: 1em;
  text-align: center;
}

.modal-edit {
  position: absolute;
  border-radius: 1em;
  padding: 1em;
  top: 300px;
  left: 650px;
  right: 650px;
  bottom: 300px;
  background-color: rgb(255, 239, 213,0.9);
}
/* .modal-edit::overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.6);
} */



.close-btn-wrapper{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.close-btn-edit{
  /* border : none;
  border-radius: 0.5em; */
  border:none;
  background:#FB9190;
  text-align: center;
  color:white;
  border-radius: 50px;
  padding:5px 10px;
}

.exp-mode-btn-wrapper{
  display: flex;
}

.btn-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
}

.exp-button-active{
  background-color: #FB9190;
  color:white;
  width: 25%;
  border: none;
  border-radius: 10px;
  text-align: center;
}
.exp-button-inactive{
  background-color: #ffbbb9;
  color:white;
  width: 25%;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.field-container{
  display: flex;
  margin-bottom: 10px;
  padding: 0px 200px;
  justify-content: space-evenly;
}

.field-input{
  display: flex;
  padding: 0px 5px;
  margin: 0px 15px;
}

.submit-btn{
  /* background-color: #979797; */
  background:#FB9190;
  color:white;
  border-radius: 50px;
  width: 50%;
  border: none;
  
}

.form-add-expense{
  margin: 10px 0px 0px 0px
}

.field-topic{
  color:#e06361;
  font-weight:bold;
}


.minimal-input{
  border: 0;
  border-bottom: 1px solid #FB9190;
  outline: none;
  /* width: 100%; */
  /* font-size: 26px; */
  /* font-family:'Poiret One', cursive; */
  text-align: center;
  background-color: transparent;
  color: #e06361;
}

.income-price {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 200px;
}

.expense-price {
  font-size: 20px;
  font-weight: bold;
  margin: 0px 10px;
}

.edit-item-btn{
  border:none;
  background:#FB9190;
  text-align: center;
  color:white;
  border-radius: 25px;
  padding:5px 10px;
}


.close-item-btn{
  border:none;
  background:#FB9190;
  text-align: center;
  color:white;
  border-radius: 30px;
  padding: 5px 15px;
}

.dont_show{
  display: none;
}