.header-wrap {
    height: 80px;
    font-family: 'Nunito', sans-serif;
    background: #FFFFFF;
    border-bottom: 0.7px solid rgb(240, 240, 240);
   
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    color:rgb(124, 108, 204);
    font-weight: 800;
    font-size: 1.2em;
}

.nav-list {
    display: flex;
    list-style: none;
    height: 60px;
    align-items: center;
}

.nav-list li {
    width: 130px;
    text-align: center;
    
}

.loginBtn{
    color:black;
}

.signupBtn{
    color:white;
    background:#8577CE;
    border:none;
    border-radius: 0.25em;
    padding: 5px;
}