.header-wrap {
    height: 60px;
    font-family: 'Nunito', sans-serif;
    background: #FFFFFF;
    box-shadow: 0 -1px 23px 14px rgba(0, 0, 0, 0.105);
}

.header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-brand {
    font-weight: 800;
}

.nav-list {
    display: flex;
    list-style: none;
    height: 60px;
    align-items: center;
}

.nav-list li {
    width: 130px;
    text-align: right;

}