div {
  font-size: 1em;
}

.app-login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */

  height: 100%;
}

.column{
  flex-direction: column;
}

.center-column {
  justify-content: center;
  align-items: center;
}

.grow {
  flex: 1;
}

.login-container {
  width: 1000px;
  height: 520px;
  margin: 50px auto;
  display: flex;
  border-radius: 25px;
}

.login-left {
  display: flex;
  height: 100%;
  flex: 1 300px;
}

.login-right {
  display:flex;
  height: 100%;
  flex: 4;
  border-radius: 25px;
}

.login-left-container {
  display: flex;
  /* width:  100%; */
  /* height: 100%; */
  width: 20em;
  height: 25em;
  justify-content: center;
}

.login-left-content {
  display: flex;
  width: 100%;
  padding: 5px;
}

.center-self {
  /* align-items: center; */
  justify-content: center;
}

.center-text {
  text-align: center;
}

.head-margin {
  margin: 0px 0px 40px;
}

.input-text {
  flex: 1;
}

::placeholder {
  color: #979797;
  opacity: 1; /* Firefox */
  font-weight: 500;
}

hr {
  color: #333333;
  width: 100%;
  margin: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.image {
  width:90%
}

.input-button {
  height: 2em;
  color: white;
  cursor: pointer;
  background-color: #5041d4;
  border: none;
  flex: 1;
  margin: 20px 0px 20px;
}

.signup-container {
  display: flex;
  height: 100%;
  flex: 1 300px;
}

.white {
  color: white;
}

.dark-1 {
  background-color: #333333;
}

.light-1 {
  background-color: #6e6e6e;
}

.light-2 {
  background-color: #e0e0e0;
}

.center-content {
  align-items: center;
}

.align-item-between {
  align-items: center;
}

.justify-item-center {
  justify-items: center;
}

.stretch {
  align-items: stretch;
  justify-items: stretch;
}
